* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    
    box-sizing: border-box;
}

header {
    display: flex;
    height: 70px;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #b6b1b1;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.myntra_logo {
    height: 45px;
}

.logo_container {
    margin-left: 4%;
}

.action_bar {
    margin-right: 4%;
}


.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
    position: relative;
}
.nav-label{
  
    cursor: pointer;
}
.nav_bar a {

    font-size: 14px;
    letter-spacing: .3px;

    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0;
    border-bottom: none;
   
}
.nav_bar a:hover {
    border-bottom: 4px solid #f54e77;
    transition: all 0.1s ease-in-out;
}

.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    margin-top: 25px;
    left: 0px;
    background-color: white;
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: max-content;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 25px;
    
}

.dropdown h6 {
    color: #ff3f6c;
    font-size: 12px;
    font-weight: 300px;
    margin-top: 10px;
    font-weight: bold;
}
.nav-item:hover .dropdown{
    display: flex;
}

.category {
   min-width: 200px ;
    max-width: max-content;
    display: flex;
    flex-direction: column;
}


ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;

}

.category ul li {
    margin-top: 5px;
    font-size: small;
    font-weight: 100px;
    font-size: 11px;

}
.category  p  {
    margin-top: 5px;
    font-size: small;
    font-weight: 100px;
    font-size: 11px;

}
.category ul li:hover{
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}
.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}

.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;

    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}